<h1>Add a CD</h1>
<form action="/" method="post">
  <label for="cd-name">Name of CD</label>
  <input id="cd-name" name="cd-name" type="text">
  <label for="artist-name">Name of Artist</label>
  <input id="artist-name" name="artist-name" type="text">
  <button type="submit">Add CD</button>
</form>
<p><a href="/">Home</a></p>
