<h1>Search by artist</h1>
<form action='/artist_cds' method='post'>
  <label for="artist-id">Artist</label>
  <input id="artist-id" name="artist-id" type="text">
  <button type="submit">search</button>
</form>
